node_modules/
.env
.env.*
!.env.example
.vscode/
storage/
my-app/
prisma/dev.db
python-backend/.venv/
python-backend/python-backend.db
python-backend.db
python-backend/*.log
desktop-qt/.qtcreator/

__pycache__/
*.pyc
